.twoCol, .threeCol{
  width: 85%;
  border: 1px solid green;
  display: flex;
  flex-direction: row;
}

.twoCol_first, .twoCol_second, .threeCol_first, 
.threeCol_second, .threeCol_third{
  border: 1px solid black;
}

.twoCol_first, .twoCol_second{
  width: 50%;
}

.threeCol_first, 
.threeCol_second, .threeCol_third{
  width: 33.33%;
}